// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
  background: url("cityscape.png");

  background-size: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-color: none;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  text-shadow: 4px 4px 8px #000000;
}

.opener {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  width: large;
  margin-top: 40px;
  padding: 20px;
}

.opener h1 {
  color: white;
  font-size: 90px;
  font-family: 'Lobster', cursive;
  line-height: 0.75;
}

.buildings ul h2 {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 42px;
}

.buildings ul h3 a,
.container h2,
ul h2 {
  font-family: 'Lobster', cursive;
  color: rgba(255,0,0, 0.6);
  font-size: 42px;
}

.opener h5 {
// .opener h6 {}{
  font-size: 23px;
  font-family: 'Anton', sans-serif;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px #000000;
}

.opener h6 a {
  color: rgba(255,0,0, 0.6);
}

h6 {
  line-height: 1.75;
}

a {
  color: rgba(255,0,0, 0.6);
}

.buildings h3 a:hover,
.buildings h4 a:hover,
.container .back_button_bldg a:hover,
.individual.bldg .back_button_bldg a:hover,
.individual.bldg ul h4 a:hover,
.lone.bldg a:hover,
.most_apt a:hover,
.opener h6 a:hover,
a:hover,
ul h4 a:hover,
.opener h6:hover {
  color: rgba(255,255,255, 0.6);
}

.container .back_button_bldg a,
.individual.bldg .back_button_bldg a,
.lone.bldg a,
.most_apt a,
.opener h6 {
  font-family: 'Anton', sans-serif;
  color: rgba(255,0,0, 0.6);
  font-size: 23px;
}

.buildings h3 a {
  color: rgba(255,0,0, 0.6);
  font-size: 34px;
  font-family: 'Lobster', cursive;
  line-height: 1.25;
}

.buildings h4 a,
.individual.bldg ul h4 a,
.lone.building h4 a,
ul h4 a {
  color: rgba(255,0,0, 0.6);
  font-size: 25px;
  font-family: 'Lobster', cursive;
  line-height: 1.75;
}

#apartment_apt_num,
#apartment_building_id,
#apartment_num_rooms,
#apartment_num_windows,
#apartment_size,
#building_address,
#building_name,
#building_num_floors,
#building_pets,
#building_walkup,
#user_email,
#user_password {
  background: none;
  outline: none;
  font-family: 'Anton', sans-serif;
  color: white;
  padding-left: 15px;
}


#apartment_building_id,
#building_elevator,
#building_pets {
  border: 3px white;
}

.actions input,
.submit input {
  background: black;
  font-family: 'Anton', sans-serif;
  color: rgba(255,0,0, 0.6);
}

.actions input:hover,
.submit input:hover {
  text-align: center;
  background: black;
  font-family: 'Anton', sans-serif;
  color: rgba(255,255,255, 0.6);
}

form {
  text-align: left;
  display: inline-block;
}
